@tailwind base;
@tailwind components;
@tailwind utilities;

@layer default {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  input:-webkit-autofill {
    -webkit-background-clip: text;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer color {
  :root {
    --hue: 30;

    --color-white: var(--hue) 8% 100%;
    --color-neutral-50: var(--hue) 8% 96%;
    --color-neutral-100: var(--hue) 8% 92%;
    --color-neutral-200: var(--hue) 8% 88%;
    --color-neutral-300: var(--hue) 8% 80%;
    --color-neutral-400: var(--hue) 8% 64%;
    --color-neutral-500: var(--hue) 8% 48%;
    --color-neutral-600: var(--hue) 8% 32%;
    --color-neutral-700: var(--hue) 8% 16%;
    --color-neutral-800: var(--hue) 8% 12%;
    --color-neutral-900: var(--hue) 8% 8%;

    --color-brand-500: var(--hue) 96% 48%;
  }

  :root {
    color-scheme: light;

    --color-background-default: var(--color-white);
    --color-background-inverse: var(--color-neutral-900);
    --color-background-strong: var(--color-neutral-100);
    --color-background-subtle: var(--color-neutral-50);
    --color-background-brand: var(--color-brand-500);

    --color-foreground-default: var(--color-neutral-900);
    --color-foreground-inverse: var(--color-neutral-50);
    --color-foreground-strong: var(--color-neutral-800);
    --color-foreground-subtle: var(--color-neutral-600);
    --color-foreground-brand: var(--color-brand-500);

    --color-border-default: var(--color-neutral-200);
    --color-border-inverse: var(--color-neutral-900);
    --color-border-strong: var(--color-neutral-300);
    --color-border-subtle: var(--color-neutral-100);
    --color-border-brand: var(--color-brand-500);
  }
}
