@tailwind base;
@tailwind components;
@tailwind utilities;

@layer default {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  input:-webkit-autofill {
    -webkit-background-clip: text;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
